.form__label {
  display: block;
  font-size: 10px;
  line-height: 10px;
  font-weight: 500;
  color: var(--dark);
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  color: var(--black);
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
  margin-bottom: 16px;
}

.login-form__input-error {
  display: block;
  font-size: 10px;
  line-height: 10px;
  font-weight: 600;
  color: var(--error);
  margin-top: -15px;
  margin-bottom: 5px;
}
